<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All the POST</title>
    <link rel="stylesheet" href="//cdn.rawgit.com/olton/Metro-UI-CSS/master/build/css/metro.min.css">
    <link rel="stylesheet" href="//cdn.rawgit.com/olton/Metro-UI-CSS/master/build/css/metro-responsive.min.css">
    <link rel="stylesheet" href="//cdn.rawgit.com/olton/Metro-UI-CSS/master/build/css/metro-schemes.min.css">
    <link rel="stylesheet" href="//cdn.rawgit.com/olton/Metro-UI-CSS/master/build/css/metro-icons.min.css">
    <script
			  src="https://code.jquery.com/jquery-1.12.4.min.js"
			  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
			  crossorigin="anonymous"></script>
    <script src="//cdn.rawgit.com/olton/Metro-UI-CSS/master/build/js/metro.min.js"></script>
    {% comment %}<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script> #jquery ui is not requires by metro {% endcomment %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/fonts.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}" />
</head>
<body>

<form action="" method="post">
    {% csrf_token %}
    <label for="titleId">Title</label>
    <div class="input-control text">
        <input id="titleId" type="text" placeholder="Input you text here...">
    </div>

    <div class="input-control text" data-role="datepicker">
        <input type="text">
        <button class="button"><span class="mif-calendar"></span></button>
    </div>
</form>

</body>
</html>